{% extends "base.html" %}
{%block title%}{{post.title}}{%endblock title%}

{%block content%}
<h1>{{post.title}}</h1>
<small>By: {{post.author.first_name}} {{post.author.last_name}}--{{post.post_date}}
{% if user.is_authenticated %} 
{%if post.author.id == user.id %}
</small> <small><a href="{%url 'update_post' post.pk%}">(edit)</a></small><small><a href="{%url 'delete_post' post.pk%}">(delete)</a></small><br>
{%endif%}
{%endif%}
<hr>
{{post.body}}
<br><br>
<a href="{% url 'home' %}"class="btn btn-secondary">Back</a>
<br><br>
<hr>
<br>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if liked %}
    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
    {%else%}

    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
    {% endif %}
    ---{{total_likes}}likes
</form>

{%endblock content%}
